<carousel>
    <slide>
        <img src="assets/img/banner01.jpg" alt="primeiro slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/img/banner02.jpg" alt="primeiro slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/img/banner03.jpg" alt="primeiro slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Bem vindo ao SportNet!</h1>
    </div>
</section>